Django==1.10
get==0.0.0
gunicorn==19.6.0
olefile==0.44
Pillow==4.0.0
post==0.0.0
public==0.0.0
query-string==0.0.0
request==0.0.0
requests==2.12.4
setupfiles==0.0.0
virtualenv==15.1.0
whitenoise==3.2
