django==1.10.5
django-allauth==0.31.0
django-simple-history==1.8.2
gunicorn==19.7.1
oauthlib==2.0.1
olefile==0.44
Pillow==4.0.0
Pinax==0.9a2
psycopg2==2.7.1
Pygments==2.2.0
python-openid==2.2.5
requery==0.3.5.1
requests==2.13.0
requests-oauthlib==0.8.0
six==1.10.0
virtualenv==15.1.0
whitenoise==3.3.0
dj-database-url==0.4.2