{% extends 'chkbal/base.html' %}
{% block body %}
    <section id="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="block">
                <h3>About Us</h3>
            </div>
          </div>
        </div>
      </div>
    </section>
<section id="intro">
      <div class="container">
        <div class="row">
          <div class="col-md-7 col-sm-12">
            <div class="block">
              <div class="section-title">
                <h2>Our Motive</h2>
                <p>
				Our Vision</br>
				“To be the most preferred and trusted Bank”</br></br>
				Our Mission</br>
				“Dedicated to customer delight and inclusive growth by leveraging technology with empowered and committed work force”</br>
				Values</br>
				Transparency and Ethical.</br>
				Respect and Empathy for customers.</br>
				Competence and dedication in all that we do.</br>
				Nurturing a culture of learning and technological excellence.</br>
				Commitment to national and social objectives.</br>
				</p>
              </div>
              <p>At Google Bank of India, we understand that all customers are different in unique ways, which is why, regardless of the size of your business or your aspirations, we treat every one as individual and special.
				This means offering you choices, not only in relation to our products and services but also in the way you interact with us. We understand the changes in your lifestyle, recognize these changes
				and support you with a high standard of professionalism and service.
				As a premier bank, we have developed comprehensive range of customized products & services suitable for every kind of market, trade or perceived need - Business or Personal. They include, borrowing
				facilities, deposits, providing optimum returns on surplus funds or helping with overseas transactions.
				We believe in total quality at all levels. We have deployed the most modern information technology to deliver products & services for your benefit with an aim to develop an effective long-term
				relationship. But most of all, Technology is matched to your expectations of service, for today & for the future.</p>
            </div>
          </div><!-- .col-md-7 close -->
          <div class="col-md-5 col-sm-12">
            <div class="block">
                {% load static %}
              <img src="{% static 'chkbal\media\wrapper-img.gif' %}" alt="Wrapper Gif">
            </div>
          </div><!-- .col-md-5 close -->
        </div>
      </div>
    </section>

{% endblock %}