{% extends 'chkbal/base.html' %}
{% block body %}
    <section id="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="block">
                <h3>Logged Out</h3>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="intro">
      <div class="container">
        <div class="row">
          <div class="col-md-7 col-sm-12">
            <div class="block">
              <div class="section-title">
                <h2>Thank You for using our services</h2>
                <p>
				Visit Our Site Again!
				</p>
              </div>
              </div>
          </div><!-- .col-md-7 close -->
        </div>
      </div>
    </section>

{% endblock %}